<h2> Sign in here</h2>

<form action="/signup" method="POST">
<label>
Username: 
<input type="text" placeholder="your username here" name="username">
</label>
<label>
    Password:  
    <input type="password" placeholder="your password here" name="password">
</label>
<button type="submit"> Register</button>
</form>